<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>登录系统</div>
    <form action="loginPage" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="id" ></input></td>
            </tr>

            <tr>
                <td>密码：</td>
                <td><input type="password" name="password" ></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="登陆" ></input></td>
            </tr>
            <tr>
                <td></td>
                <a href="register.html">点我注册</a>
            </tr>
            <tr>
                <td></td>
                <a href="shopregister.html">注册商家</a>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
